
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

/* navBar responsive */

.navBar {
    background-color: #62F3A8;
    height: 4rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.brand {
    display: block;
    background-color: #62F3A8;
    font-size: 1rem;
    font-weight: bold;

}

.buscador {
    display: flex;
    justify-content:space-between;
    align-items: center;
    
     
}

.menuIcon {
    display: block;
    margin-right: .5rem;
    font-size: 2.4rem;
    cursor: pointer;

}

.menuIcon .fas {
    color:#000;

}

.navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #0f472a;
    padding: 1rem;
}

.navLinks.show {
    display: flex;
    

}

.navLinks li {
    margin: 10px;

}

.navLinks a {
    color: #000;
    margin-left: .1rem;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    

    }
    
    a:hover {
        background-color: #dbea9f;
        text-decoration: underline;
        cursor: pointer;
    
    }


    @media screen and (min-width: 801px) {

    .menuIcon {
        display: none;
        margin-right: 1rem;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        padding: 0;
        background-color: #62F3A8;
    }

    .navLinks li {
        margin: 0 20px;
        list-style-type: none;
    }

}

@media screen and (min-width: 501px) {

    .menuIcon {
        display: none;
        margin-right: 1rem;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        padding: 0;
        background-color: #62F3A8;
    }

    .navLinks li {
        margin: 0 20px;
        list-style-type: none;
    }

    @media screen and (max-width: 801px) {

        .menuIcon {
            display: none;
            margin-right: 1rem;
        }
    
        .navLinks {
            display: flex;
            flex-direction: row;
            position: static;
            width: auto;
            padding: 0;
            background-color: #62F3A8;
        }
    
        .navLinks li {
            margin: 0 20px;
            list-style-type: none;
        }
        @media screen and (max-width: 1001px) {

            .menuIcon {
                display: none;
                margin-right: 1rem;
            }
        
            .navLinks {
                display: flex;
                flex-direction: row;
                position: static;
                width: auto;
                padding: 0;
                background-color: #62F3A8;
            }
        
            .navLinks li {
                margin: 0 20px;
                list-style-type: none;
            }
    
        }

    }
}


/* body */

body {
    display: grid;
    /* justify-content: end; */
    align-content: end;
    min-height: 0;
    
}

/* footer */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #62F3A8;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2 {
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(7, 107, 57);

}

footer .container .sec p {
    color: black;
}

.sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}

.sci li {
    list-style-type: none;
}

.sci li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #47b37b;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;

}

.sci li a:hover {
    background: #146b2a;
}

.sci li a .fa {
    color: black;
    font-size: 20px;
}

.atajos {
    position: relative;
    


}

.atajos li {
    list-style: none;
    
}

.atajos li a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    

}

.atajos li a:hover {
    color: #3a08c5c0;
}

.atajos ul {
    text-align: left;
    padding:0;
}

.info {
    position: relative;
    padding: 0;
}

.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span:nth-child(1) {
    color: #000;
    font-size: 20px;
}

.info a {
    color: #000;
    text-decoration: none;
}

.info a:hover {
    color: #3a08c5c0;
}

.copyrightsec {
    width: 100%;
    background: #158041;
    padding: 8px 100px;
    text-align: center;
    color: #000;

}


/* responsive */
@media (max-width: 991px) {
    footer {
        padding: 40px;
    }

    footer .container {
        grid-template-columns: repeat(2, 1fr);

    }

    .copyrightsec {
        padding: 8px 40px;
    }
}

@media (max-width: 768px) {
    footer .container {
        grid-template-columns: repeat(1, 1fr);

    }
}