/* •---------------------GENERAL---------------------• */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


body {
    display: grid;
    /* justify-content: end; */
    align-content: end;
    min-height: 0;

}


/* •---------------------FIN-GENERAL---------------------• */



/* •---------------------NAVBAR---------------------• */


.navBar {
    background-color: #62F3A8;
    height: 4rem;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.brand {
    display: block;
    background-color: #62F3A8;
    font-size: 1rem;
    font-weight: bold;

}

.buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.menuIcon {
    display: block;
    margin-right: .5rem;
    font-size: 2.4rem;
    cursor: pointer;

}

.menuIcon .fas {
    color: #000;

}

.navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #0f472a;
    padding: 1rem;
}

.navLinks.show {
    display: flex;


}

.navLinks li {
    margin: 10px;

}

.navLinks a {
    color: #000;
    margin-left: .1rem;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;


}

a:hover {
    background-color: #dbea9f;
    text-decoration: underline;
    cursor: pointer;

}


@media screen and (min-width: 801px) {

    .menuIcon {
        display: none;
        margin-right: 1rem;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        padding: 0;
        background-color: #62F3A8;
    }

    .navLinks li {
        margin: 0 20px;
        list-style-type: none;
    }

}

@media screen and (min-width: 501px) {

    .menuIcon {
        display: none;
        margin-right: 1rem;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        padding: 0;
        background-color: #62F3A8;
    }

    .navLinks li {
        margin: 0 20px;
        list-style-type: none;
    }

    @media screen and (max-width: 801px) {

        .menuIcon {
            display: none;
            margin-right: 1rem;
        }

        .navLinks {
            display: flex;
            flex-direction: row;
            position: static;
            width: auto;
            padding: 0;
            background-color: #62F3A8;
        }

        .navLinks li {
            margin: 0 20px;
            list-style-type: none;
        }

        @media screen and (max-width: 1001px) {

            .menuIcon {
                display: none;
                margin-right: 1rem;
            }

            .navLinks {
                display: flex;
                flex-direction: row;
                position: static;
                width: auto;
                padding: 0;
                background-color: #62F3A8;
            }

            .navLinks li {
                margin: 0 20px;
                list-style-type: none;
            }

        }

    }
}

/* •---------------------FIN-NAVBAR---------------------• */



/* •---------------------SECCION-1---------------------• */
section1 {
    background-color: rgba(0, 240, 32, 0);
    display: flex;
    flex-direction: column;

}

.container-fluid {
    background: linear-gradient(45deg, #bbafaf, #2a2294, #ff0202);
    background-size: 200% 200%;
    animation: gradientMove 8s ease infinite;
    padding: 10px;
}

.containerCarousel {
    padding: 0px 100px;
}

.containerBio {
    background-color: #77f1b2;
    padding: 0px 100px;
}

.containerBio h2 {
    text-align: center;
    padding: 20px;
}

.containerBio ul {
    padding: 20px;
    margin: 10px;
}


.carousel-item {
    height: 400px;
}

.carousel-item img {
    width: auto;
    height: 350px;
    border-radius: 15px;
}

/* responsive sec 1  */

@media screen and (min-width: 501px) {
    .container-fluid {
        width: 100%;
    }

    .containerCarousel {
        width: 100%;
    }

    .containerBio {
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    .container-fluid {
        width: 100%;
    }

    .containerCarousel {
        width: 100%;
    }

    .containerBio {
        width: 100%;
    }
}

@media screen and (min-width: 1201px) {
    .container-fluid {
        width: 100%;
    }

    .containerCarousel {
        width: 100%;
    }

    .containerBio {
        width: 100%;
    }
}

@media screen and (min-width: 1501px) {
    .container-fluid {
        width: 100%;
    }

    .containerCarousel {
        width: 100%;
    }

    .containerBio {
        width: 100%;
    }
}

/* •---------------------FIN-SECCION-1---------------------• */



/* •---------------------SECCION-2---------------------• */
section2 {
    /* padding: 10PX; */
    background-color: rgba(255, 255, 255, 0);
}

/* animar fondo con un gradiente */

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.containerAccion {
    padding: 50PX 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    height: 100vh;
    background: linear-gradient(45deg, #bbafaf, #2a2294, #ff0202);
    background-size: 200% 200%;
    animation: gradientMove 8s ease infinite;

}

.accion {
    display: flex;
    /* Cambiar a flexbox para centrar los contenidos */
    flex-direction: column;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    text-align: center;
    position: relative;
    border-radius: 15px;

}

.accion img {
    max-width: 200px;
    /* Ajustar al contenedor */
    height: auto;
    /* Mantener proporción de la imagen */
}



.accion h3 {
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;

}

.accion h3:hover {
    color: #ff5151;
}

.accion:hover {
    border: 2px;
    border-color: #2a2294, ;
    border-style: solid;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

}

.containerProductos {
    padding: 50PX 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-content: center;
    background-color: #77f1b2;
}

@keyframes lightEffect {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.product {
    display: flex;
    /* Cambiar a flexbox para centrar los contenidos */
    flex-direction: column;
    align-items: center;
    /* Centrar verticalmente */
    text-align: center;
    border-radius: 15px;
    height: auto;
    background: radial-gradient(circle, #ff0202, rgba(14, 0, 78, 0.712) 60%);
    background-size: 150% 150%;
    animation: lightEffect 10s infinite ease-in-out;
    padding: 10px;

}

.product h2 {
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;
}

.product p {
    color: floralwhite;
}

.product h2:hover {
    color: #ff5151;
}


.product:hover {
    box-shadow: 0px 4px 16px rgba(255, 6, 6, 0.25);
}

.product img {
    max-width: 100%;
    /* Ajustar al contenedor */
    height: auto;
    /* Mantener proporción de la imagen */
    border-radius: 15px;
    margin: 0px;


}

.product img:hover {
    box-shadow: 0px 4px 16px rgba(250, 0, 0, 0.25);
}

.product p {
    font-size: 14px;
}

.product button {
    position: static;
    align-content: end;
    background-color: transparent;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    color: floralwhite;
    border-color: floralwhite;
}

.containerButton {
    justify-content: end;
    align-content: end;
}

/* respon sive sec 2 */

@media screen and (max-width: 501px) {
    .containerAccion {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }

    .containerProductos {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 801px) {
    .containerAccion {
        display: grid;
        grid-template-columns: 1fr fr1 fr1;
        height: auto;
    }

    .containerProductos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1201px) {
    .containerAccion {
        display: grid;
        grid-template-columns: 1fr fr1 fr1;
        height: auto;
    }

    .containerProductos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1501px) {
    .containerAccion {
        display: grid;
        grid-template-columns: 1fr fr1 fr1;
        height: auto;
    }

    .containerProductos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



/* •---------------------FIN-SECCION-2--------------------• */



/* •---------------------FOOTER---------------------• */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #62F3A8;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2 {
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(7, 107, 57);

}

footer .container .sec p {
    color: black;
}

.sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}

.sci li {
    list-style-type: none;
}

.sci li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #47b37b;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;

}

.sci li a:hover {
    background: #146b2a;
}

.sci li a .fa {
    color: black;
    font-size: 20px;
}

.atajos {
    position: relative;



}

.atajos li {
    list-style: none;

}

.atajos li a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;


}

.atajos li a:hover {
    color: #3a08c5c0;
}

.atajos ul {
    text-align: left;
    padding: 0;
}

.info {
    position: relative;
    padding: 0;
}

.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span:nth-child(1) {
    color: #000;
    font-size: 20px;
}

.info a {
    color: #000;
    text-decoration: none;
}

.info a:hover {
    color: #3a08c5c0;
}

.copyrightsec {
    width: 100%;
    background: #158041;
    padding: 8px 100px;
    text-align: center;
    color: #000;

}


/* responsive */
@media (max-width: 991px) {
    footer {
        padding: 40px;
    }

    footer .container {
        grid-template-columns: repeat(2, 1fr);

    }

    .copyrightsec {
        padding: 8px 40px;
    }
}

@media (max-width: 768px) {
    footer .container {
        grid-template-columns: repeat(1, 1fr);

    }
}


/* •----------------------FiN-Footer---------------------• */